/* 
a {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease;
  color: #555555; }
  a:hover, a:focus {
    text-decoration: none !important;
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none; }

button {
  -webkit-transition: .3s all ease;
  -o-transition: .3s all ease;
  transition: .3s all ease; }
  button:hover, button:focus {
    text-decoration: none !important;
    outline: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important; }

.mbph-section {
  padding: 7em 0; }

.mbph-no-pt {
  padding-top: 0; }

.mbph-no-pb {
  padding-bottom: 0; }

.heading-section {
  font-size: 28px; }

.img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

@media (max-width: 991.98px) {
  .btn {
    display: block;
    width: 100%; } }

.owl-carousel {
  position: relative; }
  .owl-carousel .owl-item {
    opacity: 1; }
    .owl-carousel .owl-item.active {
      opacity: 1; }
  .owl-carousel .owl-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: inline-block; }
    .owl-carousel .owl-nav .owl-prev,
    .owl-carousel .owl-nav .owl-next {
      position: absolute;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%);
      margin-top: 60px;
      color: rgba(85, 85, 85, 0.2) !important;
      -webkit-transition: 0.7s;
      -o-transition: 0.7s;
      transition: 0.7s;
      opacity: 1; }
      @media (prefers-reduced-motion: reduce) {
        .owl-carousel .owl-nav .owl-prev,
        .owl-carousel .owl-nav .owl-next {
          -webkit-transition: none;
          -o-transition: none;
          transition: none; } }
      .owl-carousel .owl-nav .owl-prev p span, .owl-carousel .owl-nav .owl-prev p small,
      .owl-carousel .owl-nav .owl-next p span,
      .owl-carousel .owl-nav .owl-next p small {
        display: block;
        color: #555;
        line-height: .8;
        -webkit-transition: 0.3s;
        -o-transition: 0.3s;
        transition: 0.3s; }
        @media (prefers-reduced-motion: reduce) {
          .owl-carousel .owl-nav .owl-prev p span, .owl-carousel .owl-nav .owl-prev p small,
          .owl-carousel .owl-nav .owl-next p span,
          .owl-carousel .owl-nav .owl-next p small {
            -webkit-transition: none;
            -o-transition: none;
            transition: none; } }
      .owl-carousel .owl-nav .owl-prev small,
      .owl-carousel .owl-nav .owl-next small {
        text-transform: uppercase; }
      .owl-carousel .owl-nav .owl-prev span,
      .owl-carousel .owl-nav .owl-next span {
        line-height: 0; }
        .owl-carousel .owl-nav .owl-prev span:before,
        .owl-carousel .owl-nav .owl-next span:before {
          font-size: 40px;
          -webkit-transition: 0.3s;
          -o-transition: 0.3s;
          transition: 0.3s; }
          @media (prefers-reduced-motion: reduce) {
            .owl-carousel .owl-nav .owl-prev span:before,
            .owl-carousel .owl-nav .owl-next span:before {
              -webkit-transition: none;
              -o-transition: none;
              transition: none; } }
      .owl-carousel .owl-nav .owl-prev:hover small,
      .owl-carousel .owl-nav .owl-next:hover small {
        color: #987B40; }
      .owl-carousel .owl-nav .owl-prev:hover span:before,
      .owl-carousel .owl-nav .owl-next:hover span:before {
        color: #987B40; }
    .owl-carousel .owl-nav .owl-prev {
      left: 50%;
      margin-left: -35px; }
    .owl-carousel .owl-nav .owl-next {
      right: 50%;
      margin-right: -35px; }
  .owl-carousel .owl-dots {
    text-align: center;
    margin-top: 20px; }
    .owl-carousel .owl-dots .owl-dot {
      width: 10px;
      height: 10px;
      margin: 5px;
      border-radius: 50%;
      background: transparent;
      position: relative;
      border: 1px solid #555; }
      .owl-carousel .owl-dots .owl-dot:hover, .owl-carousel .owl-dots .owl-dot:focus {
        outline: none !important; }
      .owl-carousel .owl-dots .owl-dot.active {
        background: #987B40;
        border: 1px solid #987B40; }
    @media (min-width: 992px) {
      .owl-carousel .owl-dots {
        position: absolute;
        top: 0;
        right: 0;
        margin-top: 0;
        margin-right: -40px; }
        .owl-carousel .owl-dots .owl-dot {
          display: block; } }

.owl-carousel.owl-drag .owl-item {
  -ms-touch-action: pan-y;
  touch-action: pan-y; }

.work-wrap .text, .work-wrap .img {
  width: 50%; }
  @media (max-width: 767.98px) {
    .work-wrap .text, .work-wrap .img {
      width: 100%; } }

.work-wrap .img {
  height: 700px; }

.work-wrap img {
    width: 50%; }
    @media (max-width: 767.98px) {
       .work-wrap img {
        width: 100%; } }
  
  .work-wrap img {
    height: 700px; }

.work-wrap .text {
  background: #ebebeb; }
  .work-wrap .text h2 {
    font-size: 40px;
    font-weight: 800;
    text-transform: uppercase; }
    @media (max-width: 991.98px) {
      .work-wrap .text h2 {
        font-size: 30px; } } */


/* 
.name_logo {
  height: 150px;
  width:auto;
  display:block;
  background-size:contain;
  background-repeat: no-repeat;
  background-position:right;
}

@media (max-width: 767.98px) {
  .name_logo {
    height: 150px;
    background-position:center;
  }
} */


#carousel {
  position: relative;
  height: 600px;
  top: 50%;
  transform: translateY(-50%);
  overflow: hidden;
}
#carousel div {
  position: absolute;
  transition: transform 1s, left 1s, opacity 1s, z-index 0s;
  opacity: 1;
}
#carousel div img {
  width: 400px;
  transition: width 1s;
}
#carousel div.hideLeft {
  left: 0%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel div.hideLeft img {
  width: 200px;
}
#carousel div.hideRight {
  left: 100%;
  opacity: 0;
  transform: translateY(50%) translateX(-50%);
}
#carousel div.hideRight img {
  width: 200px;
}
#carousel div.prev {
  z-index: 5;
  left: 30%;
  transform: translateY(50px) translateX(-50%);
}
#carousel div.prev img {
  width: 300px;
}
#carousel div.prevLeftSecond {
  z-index: 4;
  left: 15%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
#carousel div.prevLeftSecond img {
  width: 200px;
}
#carousel div.selected {
  z-index: 10;
  left: 50%;
  transform: translateY(0px) translateX(-50%);
}
#carousel div.next {
  z-index: 5;
  left: 70%;
  transform: translateY(50px) translateX(-50%);
}
#carousel div.next img {
  width: 300px;
}
#carousel div.nextRightSecond {
  z-index: 4;
  left: 85%;
  transform: translateY(50%) translateX(-50%);
  opacity: 0.7;
}
#carousel div.nextRightSecond img {
  width: 200px;
}

.buttons {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 10px;
}